# Теория вероятности. События

Задача 2
В ящике 5 апельсинов и 4 яблока. Наудачу выбираются 3 фрукта. Какова вероятность, что все три фрукта – апельсины?
В интернете полученный аналитически ответ 0.119. Подтверждается ли он эксперементально?

In [3]:
import pandas as pd
import numpy as np
import random
import requests # for web-download
import io # for web-download
import re # for data processing

In [29]:
# заполняем ящик фруктами
B = ["orange"]*5 + ['aplle']*4

# задаем число экспериментов
n = 100000
# формируем выборку
A = pd.DataFrame({"A":list(map(lambda a: random.choices(B, k=3), range(n)))})

# считаем статистику выбора трех апельсинов одновременно
P_orange = len(A[A.A=='orange, orange, orange'])/A.shape[0]
P_orange

0.0

In [22]:
A

                              A
0         [aplle, aplle, aplle]
1      [orange, orange, orange]
2         [aplle, aplle, aplle]
3      [orange, orange, orange]
4       [aplle, orange, orange]
...                         ...
99995   [aplle, orange, orange]
99996   [orange, orange, aplle]
99997     [aplle, aplle, aplle]
99998     [aplle, aplle, aplle]
99999   [aplle, orange, orange]

[100000 rows x 1 columns]

Видимо что то сделала не так, так как результат показал ноль, хотя в выведенном дата  фрэйме точно есть три апельсина одновременно((