# Теория вероятности. События

Задача 2
В ящике 5 апельсинов и 4 яблока. Наудачу выбираются 3 фрукта. Какова вероятность, что все три фрукта – апельсины?
В интернете полученный аналитически ответ 0.119. Подтверждается ли он эксперементально?

In [1]:
import pandas as pd
import numpy as np
import random
import requests # for web-download
import io # for web-download
import re # for data processing
from collections import Counter

In [2]:
# заполняем ящик фруктами
B = ["orange"]*5 + ['aplle']*4

# задаем число экспериментов
n = 100000
# формируем выборку
A = pd.DataFrame({"A":list(map(lambda a: random.choices(B, k=3), range(n)))})

In [3]:
A

                              A
0       [orange, aplle, orange]
1      [orange, orange, orange]
2      [orange, orange, orange]
3        [aplle, orange, aplle]
4       [orange, aplle, orange]
...                         ...
99995    [aplle, aplle, orange]
99996   [orange, orange, aplle]
99997    [orange, aplle, aplle]
99998    [aplle, orange, aplle]
99999   [orange, orange, aplle]

[100000 rows x 1 columns]

In [5]:
P_orange_df= A['A'].value_counts().to_frame()
P_orange_df

                              A
[orange, orange, orange]  17243
[aplle, orange, orange]   13827
[orange, orange, aplle]   13646
[orange, aplle, orange]   13645
[aplle, orange, aplle]    10951
[orange, aplle, aplle]    10826
[aplle, aplle, orange]    10788
[aplle, aplle, aplle]      9074

In [10]:
P_orange=P_orange_df.iloc[0,0]/n
P_orange

0.17243